<ol class="breadcrumb">
  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  <li>{{#link-to 'ingredients'}}Ingredients{{/link-to}}</li>
  <li class="active">{{model.name}}</li>
</ol>

<h2>{{model.name}}</h2>

<p class="lead">{{model.description}}</p>

{{#each model.errors.messages}}
  <div class="error">
    {{message}}
  </div>
{{/each}}

{{input class="form-control" value=model.name}}
<button type="button" class="btn btn-primary" {{action "save"}}>Save</button>
