<h2>Recipes</h2>
<ul>
{{#each recipe in model}}
  <li>{{#link-to 'recipe' recipe}}{{recipe.name}}{{/link-to}}</li>
{{/each}}
</ul>

<hr>

<h2>New Recipe</h2>

<form role="form" {{action 'newRecipe' on='submit'}}>
  <div class="form-group">
    <label>Name</label>
    {{input class="form-control" placeholder="Enter name" value=recipe.name}}
  </div>
  <div class="form-group">
    <label>Description</label>
    {{textarea class="form-control" placeholder="Enter description" value=recipe.description}}
  </div>
  <div class="form-group">
    <label>Source</label>
    {{input class="form-control" placeholder="Enter source" type="url" value=recipe.source}}
  </div>
  {{#if recipe.error}}<pre class="alert alert-danger" role="alert">{{recipe.error.responseText}}</pre>{{/if}}
  <button type="submit" class="btn btn-default">Save</button>
</form>
